* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.container {
    width: 800px;
    max-width: 800px;
    text-align: center;
}

.layout-container {
    display: grid;
    background-color: transparent;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 15px; 
}

.item {
    background-color: #34FF32;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.side-bar {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.content1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.content2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.content3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}