body{
font-family: Arial;
background: lightgrey;
padding:40px;
}

table{
width:500px;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden
}

th{
background: teal;
color: white;
padding:12px;
text-align:left;
}

td{
padding:12px;
border-bottom:1px solid lightgreen;
}

tbody tr:nth-child(even){
background: whitesmoke;
}

tbody tr:nth-child(2){
color: green;
font-weight:bold;
}