/* ფსევდო სელექტორი გვაძლევს საშუალებას  მივანიჭოთ სტილი მათ მდგომარეობასს
*/

/* :link - გამოიყენება მხოლოდ ბმულებისთვის <a> თეგისთვის ის აღწერს ბმულის საწყის მდგომარეობას, სანამ მასზე ვინმე დააჭერდეს.
*/

/* :visited - ესეც ბმულებისთვისაა. ის ცვლის იმ ლინკების ფერს, რომლებზეც მომხმარებელმა უკვე დააჭირა და ერთხელ მაინც ესტუმრა იმ საიტს.
*/

/* :hover - ალბათ ყველაზე პოპულარული სელექტორია. ის აქტიურდება მაშინ, როდესაც მომხმარებელი ელემენტს (ღილაკს, ლინკს, სურათს) მაუსს გადაატარებს.
*/

/* :active - ეს არის დაჭერის მომენტი. სტილი მოქმედებს მხოლოდ იმ წამს, როცა მაუსის ღილაკს თითს ვაჭერთ ელემენტზე.
*/




#my-link:link {
  color: #3498db;          
  text-decoration: none;   
  font-size: 24px;
  padding: 5px;    
}

#my-link:visited {
  color: purple 
}

#my-link:hover {
  color: orange      
}

#my-link:active {
  color: red 
}