.container {
  display: flex;
  background-color: white;
  padding: 10px;
  gap: 10px;
}

/* რა ხდება როცა კონტეინერში ადგილი აღარ რჩება:

  როდესაც ეკრანს ან მშობელ div-ს ვაპატარავებთ ბრაუზერი ცდილობს ელემენტები ჩაატიოს. და იწყებს მათ დაპატარავებას. 

  flex-shrink 0 ნიშნავს: აკრძალულია დაპატარავება . ამიტომ, მესამე ელემენტი მყარად შეინარჩუნებს თავის 300px-ს თუნდაც ეკრანი 300px-ზე  პატარა გახდეს ამ დროს ის უბრალოდ გარეთ გავა.
  
  flex-shrink 1 ნიშნავს: "დაპატარავება საჭიროების შემთხვევაში" შესაბამისა როცა სივრცე იწურება მთელ დარტყმას დაპატარავებას თავის თავზე იღებს   პირველი და მეორე ელემენტ. ისინი დაიწყებენ დაპატარავებას თანაბრად რათა მესამე
  ელემენტს 300px შეუნარჩუნდეს.
*/

.item-1 {
  background-color: orange;
  flex-shrink: 1;
}

.item-2 {
  background-color: cyan;
  flex-shrink: 1;
}

.item-3 {
  background-color: black;
  width: 300px; 
  flex-shrink: 0; 
}