.container {
  display: flex;
  width: 1000px;
  background-color: #e0e0e0;
  padding: 10px;
  gap: 10px;
}

.box {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

/* შედეგის ახსნა:
კონტეინერი არის 1000px. შიგნით ორმა ყუთმა ეგრევე დაიკავა თავისი 200-200px სულ 400.ანუ დაგვრჩა 600px თავისუფალი ადგილი.
  flex-grow მუშაობს მარტო მაგ მორჩენილ 600px-ზე. რადგან პირველს უწერია 1.და მეორეს 3, ეგ 600 იყოფა 4 ნაწილად ანუ 150px არის 1 წილი.
  და მეორეს 3, ეგ 600 იყოფა 4 ნაწილად ანუ 150px არის 1.
  შედეგი:პირველ ყუთს ემატება 150px და ხდება 350px.მეორე ყუთს ემატება 450px 3 * 150 და ხდება 650px.flex-grow მთლიან ზომებს არ ეხება, მარტო ცარიელ ადგილს ინაწილებენ. 
  ამიტომ მეორე ყუთი სამჯერ დიდი კი არ გამოვიდა, უბრალოდ მორჩენილი ადგილიდან წაიღო სამჯერ მეტი.
*/

.box1 {
  background-color: orange;
  flex-grow: 1;
}

.box2 {
  background-color: cyan;
  flex-grow: 3;
}