/* transition-property: განსაზღვრავს, კონკრეტულად CSS-ის რომელ თვისებაზე მაგალითად: width, background-color, transform) */
/*
  transition-duration: განსაზღვრავს, თუ რამდენი ხანი უნდა გაგრძელდეს თავად ანიმაციის/ცვლილების პროცესი ჩვენს შემთხვევაში 5 წამი, ანუ 5s.
  
  transition-timing-function: განსაზღვრავს ანიმაციის სიჩქარის ტემპს დროის განმავლობაში. 
  
  transition-delay: განსაზღვრავს მოლოდინის დროს დაყოვნებას, სანამ ტრანზიცია დაიწყება.
  
  transition: არის  შემოკლებული (shorthand) თვისება, რომელშიც შეგიძლია ზემოთ ჩამოთვლილი ყველა მნიშვნელობა ერთ ხაზზე დაწერო.
*/