body {
    background-color: lightblue;
    margin: 0;
    font-family: serif;
}

.container {
    background-color: darkblue;
    width: 800px;
    margin: auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px; 
    border-radius: 4%;
}

.box {
    background-color: yellow;
    width: 28%;              
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
}